p{
    color: rgb(255,0,0);
    text-align: center;
    font-family: Georgia;
    line-height: 30px;
}
h1{
    text-align: center;
    font-family: Georgia;
}
h3{
    color: black;
    text-align: center;
    font-family: Georgia;
}
h4{
    text-align: center;
    font-family: Georgia;
}
a{
    text-decoration: none;
    color: rgb(8, 250, 0);
}
button{
    color: rgb(139, 39, 232);
    background-color: rgb(255,255,255);
}
textarea{
    color: #000000;
}
span{
    text-decoration: underline #000000;
   
}